.div1{
    height: 100px;
    width: 620px;
    background-color: brown;
    text-align: center;
}
.div2{
    height: 100px;
    width: 620px;
    background-color: brown;
    margin: auto;
    text-align: center;
}
.div3{
    height: 100px;
    width: 620px;
    background-color: brown;
    text-align: center;
}

.all{
    display: flex;
    justify-content: center;
}